{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div id="intro" class="bg-image ">
  <div class="d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-md-8">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h2 class="card-title text-center"><b>Sign Up</b></h2>
              <form class="signup" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
                    in</a>.{% endblocktrans %}</p>
                <fieldset class="form-group">
                  <br />
                  {{ form|crispy }}
                </fieldset>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-group">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg mt-3 mb-2" id="submitButton" type="submit">Sign Up</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
