

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #2c3e50;
  color: #fff;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}


/* .card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
} */

/* .form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
} */

/* .bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
} */

/* #intro {
  background-image: url('https://res.cloudinary.com/dpsodnurd/image/upload/v1652532181/susan-q-yin-2JIvboGLeho-unsplash_p4rsky.jpg');
  height: 100vh;
} */

/* #reviewform {
  background-image: url('https://res.cloudinary.com/dpsodnurd/image/upload/v1652532181/susan-q-yin-2JIvboGLeho-unsplash_p4rsky.jpg');
  height: 100vh;
} */

@media (min-width: 992px) {
  #intro {
    margin-top: -100px;
  }
}
body{

}