{% extends "base.html" %}
{% load static %}

{% load cloudinary %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5 my-5 bg-light">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://res.cloudinary.com/dpsodnurd/image/upload/v1652492708/jamie-street-Zqy-x7K5Qcg-unsplash_up1xut.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Book Barn review site!</h1>
      <p class="lead">Here you'll find interesting reviews of all types of books written by readers just like you. Register for an account to start writing your own reviews, use our commenting system and make a wishlist of books to read. Or just start reading!</p>
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        
      </div> -->
      <div class="d-grid">
        <a class="btn btn-success btn-lg mt-2 mb-2" href="{% url 'account_signup' %}">Register!</a>
      </div>
      <div class="d-grid">
        <a class="btn btn-primary btn-lg mt-2 mb-2" href="{% url 'reviews' %}">Start Reading Reviews</a>
      </div>
    </div>
  </div>
</div>





{%endblock%}