{% extends "base.html" %}
{% load static %}

{% load cloudinary %}
{% block content %}



<div class="container-sm py-4 bg-light">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for review in review_list %}

  

      <div class="col">
        <div class="card text-center">
          <a href="{{ review.get_absolute_url }}"><img src="{{review.book_cover.url}}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{ review.title }}</h5>
           
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">By {{review.book_author}}</li>
              <li class="list-group-item">Reviewed by {{review.author}}</li>
              <li class="list-group-item">Rating: {{review.get_star_rating_display}}</li>
              <li class="list-group-item d-grid"><a href="{{ review.get_absolute_url }}" class="btn btn-primary">Read Review</a></li>
            
            </ul>
            
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
   
    <!-- <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div> -->

   
<br>
    <div class="pagination justify-content-center">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
      <br><br>
  </div>
</div>



{%endblock%}