{% extends "base.html" %}

{% block content %}

<!-- <div class="container-fluid">

    <div class="row">

       
        <div class="col-12 mt-3 left">
            <div class="row">

            </div>
        </div>
    </div>

</div> -->
<table>
{% for review in review_list %}
<tr>
    <a href="{{ review.get_absolute_url }}"> {{ review.title }}</a>
<br>
</tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{%endblock%}