{% extends 'base.html' %}
{% load static %}

{% load cloudinary %}

{% block content %}

<div id="reviewform" class="bg-image ">
    <div class="d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-9">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h2 class="card-title text-center"><b>View Review</b></h2>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ review.book_cover.url }}" class="img-fluid rounded-start"
                                            alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{review.title}}</h5>
                                            <p class="card-text">{{ review.review_text }}</p>
                                            <p class="card-text">Star Rating: {{review.get_star_rating_display}}</p>
                                            {% if user == review.author %}
                                            <div class="d-grid">
                                                <a class="btn btn-warning btn-lg mt-2 mb-2"
                                                    href="{% url 'review_edit' review.slug %}">Edit Review</a>
                                            </div>

                                            <div class="d-grid">
                                                <a class="btn btn-warning btn-lg mt-2 mb-2"
                                                    href="{% url 'review_delete' review.slug %}">Delete Review</a>
                                            </div>
                                            {%endif%}

                                            {% if review.purchase_link %}
                                            <div class="d-grid">
                                                <a class="btn btn-success btn-lg mt-2 mb-2"
                                                    href="{{review.purchase_link}}" target="_blank">Purchase Book</a>
                                            </div>
                                            {%endif%}




                                            <div class="d-grid">
                                                <a class="btn btn-warning btn-lg mt-2 mb-2"
                                                    href="{% url 'add_wishlist' review.id %}">Add to Wishlist</a>
                                            </div>

                                            <h4>Comments</h4>
                                            <a href="{%url 'add_comment' review.slug %}">Add comment</a><br>
                                            <br>
                                            {%if not review.comments.all %}
                                            No comments . . .

                                            {%else%}

                                            {% for comment in review.comments.all %}


                                            <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ comment.author}}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">{{comment.published_on}}
                                                    </h6>
                                                    <p class="card-text"> {{ comment.comment_text }}.</p>
                                                    {% if user == comment.author %}
                                                    <a href="{%url 'delete_comment' comment.id%}"
                                                        class="card-link">Delete</a>
                                                    <a href="{%url 'edit_comment' comment.id%}"
                                                        class="card-link">Edit</a>
                                                    {%endif%}
                                                    {% if user == review.author %}
                                                    <a href="{%url 'delete_comment' comment.id%}"class="card-link">Remove</a>


                                                    {%endif%}
                                                </div>
                                            </div>
                                            {%endfor%}
                                            {%endif%}


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









{% endblock content %}