{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}
{% block content %}



<!-- form to edit reviews, very similar to add review form -->
<div id="reviewform"class="bg-image ">
    <div class="d-flex align-items-center" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-md-8">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h2 class="card-title text-center"><b>Edit Review</b></h2>
                <p>Here you can edit the details of your book review, just make your changes and hit Submit!</p>
                <form class="review-form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <br /> 
                      {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-lg mt-3 mb-2" id="submitButton" type="submit">Submit</button>
                      </div>
                      <div class="d-grid">
                        <a class="btn btn-warning btn-lg mt-2 mb-2" href="{{ view.get_success_url }}">Cancel</a>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
               

{% endblock content %}